.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a2e; 
  font-family: sans-serif;
}

.form-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

h2 { 
  text-align: center;
   color: #1a1a2e;
   margin-bottom: 20px;
 }


.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 15px; 
}


.input-group input {
  width: 100%;
  padding: 12px;
  padding-right: 45px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff; 
  outline: none;
}
input {
  width: 100%;
  padding: 12px;
  padding-right: 45px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  outline: none;
  margin-bottom: 8px;
}


.eye-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); 
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 10; 
}

.eye-btn:hover {
  opacity: 0.7;
}


.reuseable-btn {
  width: 100%;
  padding: 12px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.reuseable-btn:hover {
  background-color: #a29bfe;
  transform: scale(1.02);
}

.footer-text { text-align: center; margin-top: 15px; font-size: 14px; }

.link-text { color: #e94560; text-decoration: none; font-weight: bold; }
